
* {
    box-sizing: border-box;
    border-color: black;
} 

.header{
    text-align: center;
    color :black;
    padding: 20px;
    font-size: 35px;
    width:100%;
    border:5px solid black;
}


.column{
    text-align: center;
    padding:15px;
    background-color :black;
    float: left;
    width:50%;
    height:300px;
    border:5px solid black;
}
